@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на Аптека Богдан</h1>
    <p>Читати про ASP.NET <a href="https://docs.microsoft.com/aspnet/core">побудова веб застосунків за допомогою ASP.NET Core</a>.</p>
</div>
